.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 102px;
  }
  .header {
    padding: 10px 16px;
    background:#f1f1f1;
    border-bottom-color:1px solid black;
  }
  td
  {
      padding: 10px;
  }