<form [formGroup]="viewAssignmentsForm" (ngSubmit)="onSubmit()">
        <div class="options">
            <table class="table  table-borderless w-auto">
              <tr>
                <td>
                  Location : <br> <b>
                  {{adminLocation}}
                </b>
                </td>
                <td>
                  Sub Locations : <br>
                  <select formControlName="selectedSubLocation" class="form-control-sm" (change)="onSelectingSubLocation($event.target.value)">
                    <option value="0">--select subLocation--</option>
                    <option *ngFor="let subLocs of adminSubLocation">{{subLocs}}</option>
                  </select>
                </td>
                
                <td *ngIf="batches">
                    <div *ngIf="batches.length==0" class="alert alert-danger">There is no batches added for the selected location</div>
                </td>
                    <td *ngIf="batches">
                      <div *ngIf="batches.length>0">
                          Category : <br>
                          <select class="form-control-sm" formControlName="selectedTestType" required>
                              <option value="TEST">Test</option>
                              <option value="RETEST">Retest</option>
                          </select>
                      </div>
                    </td>
                    <td *ngIf="batches" >
                      <div *ngIf="batches.length>0">
                          Status : <br>
                          <select formControlName="selectedStatus" class="form-control-sm"  required>
                              <option value="assigned">Assigned</option>
                              <option value="completed">Completed</option>
                              <option value="running">Running</option>
                          </select>
                      </div>
                    </td>
                    <td  *ngIf="batches" >
                      <div *ngIf="batches.length>0">
                          Batch : <br>
                          <select class="form-control-sm" formControlName="selectedBatch"  required>
                              <option *ngFor="let batch of batches" [value]="batch._id">{{batch.batchName}}</option>
                          </select>
                      </div>  
                      
                    </td>
                   <td  *ngIf="batches">
                      <br>
                     <div *ngIf="batches.length>0">
                        <button type="submit" class="btn btn-success btn-sm" [disabled]="!viewAssignmentsForm.valid">View</button>
                     </div>
                       
                   </td>
                </tr>
            </table>
          </div>
    </form>
    <div *ngIf="assignmentDetails && assignmentDetails.length>0">
      <form [formGroup]="updateAssignmentsForm" (ngSubmit)="onUpdateForm()">
        <table  class="table table-striped table-bordered table-sm" >
          <tr>
            <th>Assign.date</th>
            <th>Assign.time</th>
            <th>Assigned By</th>
            <th>Module</th>
            <th>Category</th>
            <th>Exam Date</th>
            <th>Start Time</th>
            <th>Duration</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
          <tr *ngFor="let assignment of assignmentDetails">
            <td>{{assignment.dateOfAssignment}}</td>
            <td>{{assignment.timeOfAssignment}}</td>
            <td>{{assignment.addedBy}}</td>
            <td>{{assignment.module}}</td>
            <td>{{assignment.testType}}</td>
            <td *ngIf="!checkEditButtonPressed(assignment)">{{assignment.dateOfExam}}</td>
            <td *ngIf="checkEditButtonPressed(assignment)">
                <input class="form-control-sm"  type="date" formControlName="updatedDate"  required>
            </td>
            <td *ngIf="!checkEditButtonPressed(assignment)">{{assignment.timeOfExam}}</td>
            <td *ngIf="checkEditButtonPressed(assignment)">
                <input class="form-control-sm" type="time" formControlName="updatedTime"  required>
            </td>
            <td *ngIf="!checkEditButtonPressed(assignment)">{{assignment.duration}} Hr.</td>
            <td *ngIf="checkEditButtonPressed(assignment)">
                <select class="form-control-sm" formControlName="updatedHours"  required>
                    <option value="01">1 Hr</option>
                    <option value="02">2 Hr</option>
                    <option value="03">3 Hr</option>
                    <option value="04">4 Hr</option>
                  </select>:
                  <select class="form-control-sm" required formControlName="updatedMinutes" >
                      <option *ngFor="let minute of minutes" [value]="minute">{{minute}} Min.</option>
                    </select>
            </td>
            <td  *ngIf="assignment.status=='assigned'" style="background-color: #ffffcc">
              {{assignment.status}}
            </td>
            <td *ngIf="assignment.status=='completed'" style="background-color: #4CAF50">
              {{assignment.status}}
            </td>
            <td *ngIf="!checkEditButtonPressed(assignment)">
              <button type="button" class="btn btn-info btn-sm" (click)="onEditAssignment(assignment)">Edit</button>
            </td>
            <td *ngIf="checkEditButtonPressed(assignment) && assignment.status=='assigned'">
              <button type="submit" [disabled]="!updateAssignmentsForm.valid" class="btn btn-success btn-sm">Update</button>
              <button type="button" class="btn btn-danger btn-sm" (click)="onCancelEdit()">Cancel</button>
          </td>
          </tr>
        </table>
      </form>
      </div>
      <div *ngIf="assignmentDetails!=undefined">
          <div class="jumbotron" *ngIf="assignmentDetails.length==0 ">
            <h2 class="text-danger"> No Assignments Availabe for the selected items</h2>
              </div>      
      </div>
        <div class="jumbotron" *ngIf="assignmentDetails==undefined">
          <h3 class="text-info">
            View Assignments Here !!
          </h3>
          </div>